@use '../../../../../styles/vars' as *;

.modal__wrapper {
	position: absolute;
	width: 100vw;
	min-height: 100svh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	display: grid;
	place-items: center;
	z-index: 100;

	.modal {
		background: $latte-base;
		width: 40vw;
		padding: 2rem;
		border-radius: 0.3rem;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

		.modal__title {
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 1rem;
			text-align: center;
		}

		.modal__content {
			font-size: 1.2rem;
			margin-bottom: 1rem;
			width: 80%;
			margin-inline: auto;
		}

		.modal__buttons {
			display: flex;
			align-items: space-between;
		}

		.modal__button {
			margin-inline: auto;
			padding-inline: 1rem;

			&.modal__button--error {
				background: $latte-red;
			}
		}

		.can__card {
			width: 80%;
			margin-inline: auto;
			margin-bottom: 1rem;
		}
	}
}