@use '../../styles/vars' as *;

.wrapper {
	display: grid;
	min-height: 100svh;
	place-content: center;
}

.search {
	position: relative;
	height: 3rem;

	input, .results {
		position: absolute;
		left: 0;
		width: 100%;
	}
	
	input {
		top: 0;
		z-index: 5;
	}

	.results {
		z-index: 100;
		top: 100%;
		margin-top: 10px;
		background: white;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		height: fit-content;
		outline: 1px solid $latte-overlay0;
		border-radius: 0.2rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		max-height: 15rem;
		overflow-y: scroll ;
		
		.res {
			padding-inline: 0.5rem;
			padding-block: 0.1rem;
			&:hover {
				background: $latte-sky;
				cursor: pointer;
				color: white;
			}

		}

	}

	
}

.modal {
	z-index: 15;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(41, 43, 57, 0.9);
	width: 100vw;
	min-height: 100svh;
	display: grid;
	place-content: center;

	.modal_content {
		background: $latte-base;
		width: fit-content;
		padding: 3rem 10rem;
		border-radius: 0.3rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		text-align: center;

		.content_display {
			font-size: clamp(150px, 10vw, 250px);
			margin-top: 1rem;
		}

		button {
			margin-inline: auto;
			margin-block: 2rem;
			padding-inline: 2rem;
		}

		.wait_text {
			font-size: 1.5rem;
			font-weight: 600;
		}

		// src: https://css-loaders.com/circle/
		/* HTML: <div class="loader"></div> */
		.loader {
			width: 65px;
			aspect-ratio: 1;
			position: relative;
			margin-inline: auto;
			margin-block: 2rem;
		}
		.loader:before,
		.loader:after {
			content: '';
			position: absolute;
			border-radius: 50px;
			box-shadow: 0 0 0 3px inset $latte-text;
			animation: l4 2.5s infinite;
		}
		.loader:after {
			animation-delay: -1.25s;
		}
		@keyframes l4 {
			0% {
				inset: 0 35px 35px 0;
			}
			12.5% {
				inset: 0 35px 0 0;
			}
			25% {
				inset: 35px 35px 0 0;
			}
			37.5% {
				inset: 35px 0 0 0;
			}
			50% {
				inset: 35px 0 0 35px;
			}
			62.5% {
				inset: 0 0 0 35px;
			}
			75% {
				inset: 0 0 35px 35px;
			}
			87.5% {
				inset: 0 0 35px 0;
			}
			100% {
				inset: 0 35px 35px 0;
			}
		}
	}
}

button {
	cursor: pointer;
	transition: scale 0.1s ease;

	&:hover {
		scale: 105%;
	}

	&:active {
		scale: 100%;
	}
}

.form {
	max-width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	width: 30vw;
	margin-inline: auto;

	img {
		width: 100%;
		object-fit: scale-down;
	}

	.row {
		display: flex;
		justify-content: space-between;
	}

	.container {
		display: flex;
		flex-direction: column;
		gap: 0.3rem;
	}

	input {
		outline: 1px solid $latte-overlay0;
		border: none;
		border-radius: 0.2rem;
		padding: 0.5rem 0.5rem;
		font-size: 1.1rem;

		&[name='class'] {
			width: 80%;
		}
	}

	select {
		outline: 1px solid $latte-overlay0;
		border: none;
		border-radius: 0.2rem;
		padding: 0.5rem 0.5rem;
		height: 100%;
		font-size: 1.1rem;
		background: white;
	}

	.house {
		margin-block: 1rem;
		aspect-ratio: 1;
		padding: 2rem;

		display: grid;
		place-content: center;

		font-size: 1.2rem;
		font-weight: 600;

		color: white;

		outline: none;
		border: none;
		border-radius: 0.2rem;

		&.house--sel {
			outline: 5px solid $latte-subtext0;
			scale: 105%;
		}

		&.house__r {
			background: $latte-maroon;
		}

		&.house__y {
			background: $latte-yellow;
		}

		&.house__s {
			background: $latte-sky;
		}

		&.house__a {
			background: $latte-green;
		}
	}
}

.reg {
	outline: none;
	border: none;
	background: $latte-teal;
	padding: 0.5rem;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border-radius: 0.2rem;
	cursor: pointer;

	&,
	span {
		color: white;
	}
}
