@use '../../../../../styles/vars' as *;


.post__wrapper {
	display: flex;
	flex-direction: column;
	place-items: center;
	width: 100%;
	
	margin-inline: auto;

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-block: 1rem;
		text-align: center;
	}

	button {
		outline: none;
		border: none;
		background: $latte-teal;
		padding: 0.2rem 0.5rem;
		font-size: 1.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		border-radius: 0.2rem;
		transition: scale 0.1s ease;
		height: fit-content;

		&:hover {
			scale: 105%;
		}

		&:active {
			scale: 100%;
		}
		cursor: pointer;

		&,
		span {
			color: white;
		}
	}

	.nav__btn {
		font-size: 1rem;
		span {
			font-size: 1rem;
		}
	}

	.post__title {
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.2;
	}

	.post__count {
		font-size: 1.2rem;
		font-weight: 500;
	}

	.post__info {
		font-size: 1rem;
		margin-top: 1rem;
		font-weight: 600;
	}

	.can {
		align-self: start;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
		gap: 5rem;
		margin-top: 2rem;
		overflow-y: scroll;
	}
}
