@use '../../../styles/vars' as *;

.info {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: 1rem;
	width: 99%;
	height: 100%;
	// overflow: scroll;

	.count {
		width: 100%;
		background: $latte-crust;
        border-radius: 0.3rem;
		position: relative;

		.count__title {
			text-align: center;
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 0.5rem;
			width: fit-content;
			margin-inline: auto;
			color: $latte-text;
			opacity: 0.5;
			margin-top: 0.5rem;

			&.column {
				flex-direction: column;

				span {
					display: flex;
					align-items: center;
					gap: 0.5rem;
				}
			}
		}

		.count__num {
			font-size: 5rem;
			font-weight: 600;
			color: $latte-teal;
			text-align: center;
			position: absolute;
			top:50%; 
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
